{% extends 'base.html' %}
{% block title %}Travel-X | About Us{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5 text-center">
            <h2>About Travel-X</h2>
            <hr>
            <p>
                Welcome to Travel-X, where the journey is as important as the destination. We are a passionate team of travel enthusiasts dedicated to creating memorable and transformative experiences for every explorer.
            </p>
        </div>

        <div class="col-md-6 mt-5">
            <h2>Our Vision</h2>
            <hr>
            <p>
                At Travel-X, our vision is to be a global leader in the travel industry, known for innovative and sustainable travel solutions. We aspire to connect people with the beauty of the world and inspire a sense of wanderlust.
            </p>
        </div>

        <div class="col-md-6 mt-5">
            <h2>Our Mission</h2>
            <hr>
            <p>
                Our mission is to curate extraordinary travel experiences that go beyond expectations. We aim to provide seamless planning, unparalleled customer service, and a commitment to responsible tourism. Travel-X is driven by the belief that every journey should leave a positive impact on both travelers and the places they visit.
            </p>
        </div>

        <div class="col-md-4 mt-5 shadow pt-5">
            <h3 class="text-danger text-center">10,000+</h3>
            <h6 class="text-center">Happy Travelers</h6>
            <p class="text-center">Embarked on unforgettable journeys with Travel-X.</p>
        </div>

        <div class="col-md-4 mt-5 shadow pt-5">
            <h3 class="text-danger text-center">500+</h3>
            <h6 class="text-center">Destinations Explored</h6>
            <p class="text-center">Discover a world of possibilities with our diverse range of destinations.</p>
        </div>

        <div class="col-md-4 mt-5 shadow pt-5">
            <h3 class="text-danger text-center">99%</h3>
            <h6 class="text-center">Customer Satisfaction</h6>
            <p class="text-center">Our commitment to excellence ensures satisfaction at every step of your journey.</p>
        </div>
    </div>
</div>
{% endblock %}
