{% extends 'baseadmin.html' %}
{% block title %}Travel-X|Update Pakage{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <center>
            <h2>Update Pakage</h2>
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>
                <br>
                <input type="submit" value="Update">
                <a href="/"><input type="button" value="Cancel"></a>
            </form>
        </center>
    </div>
</div>
{% endblock %}
